@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/villa.jpg" alt="View from home.">
<p>This website is used as a repository to document my projects. Besides serving as "reminders" for myself, it also serves as entertainment for those with similar interest. </p>
