@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/head.jpg" alt="Yash">
<address>
    Villa Italia<br />
    Century City<br />
    <abbr title="Phone">P:</abbr>
    +2772 644 8444
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yashren.reddi@gmail.com">Support@reddi.com</a><br />
</address>
